@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), url(./fonts/ptsans-400.woff2) format("woff2");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans"), url(./fonts/ptsans-700.woff2) format("woff2");
}
* {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.page {
  max-width: 1280px;
  background: #f2f2f2;
  margin: 0 auto;
}
.page-header {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  height: 65px;
  background: #fff;
  margin: 0 auto;
  align-items: center;
}
.page-header__logo {
  height: 70px;
  margin-left: 70px;
  margin-right: 47px;
}
.page-header__links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 34px;
  max-width: 390px;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}
.page-header__link a {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #000000;
}
.page-header__icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: 311.11px;
}
.page-header__icons li {
  margin-right: 23.49px;
}
.page-header__icons li:last-child {
  margin-right: 0;
}
.page-header__like-button{
  position: relative;
}
.likesCounter{
  background: #7DB54F;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  left: 13px;
  top: -10px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.page-header__button {
  border: none;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 32.3px;
  padding: 9px 15px 8px 15px;
  background: #756157;
  border-radius: 4px;
  width: 160px;
  box-sizing: border-box;
  text-align: center;
}
